#about {
    display: flex;
    .about-tall {
        max-width: 450px;
    }
    .top6Div {
        // max-width: 1000px;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        .card {
            background: none;
            // min-width: 300px;
            display: flex;
            flex-direction: row;
        }
        div > .card .card-image {
            border: none;
            box-shadow: none;
        }
        .box-pink {
            border: 1px solid $primary-text;
            box-shadow: 0 0 3px $primary-shadow, 2px 5px 5px $primary-shadow, 2px 5px 5px $primary-shadow, 0 0 3px $primary-shadow;
            // border-radius: 50%;
        }
        .box-blue {
            border: 1px solid $primary-shadow;
            box-shadow: 0 0 3px $primary-text, 2px 5px 5px $primary-text, 2px 5px 5px $primary-text, 0 0 3px $primary-text;
            // border-radius: 50%;
        }
        .card-image {
            // border: 1px solid $primary-shadow;
            // box-shadow: 0 0 3px $primary-text, 2px 5px 5px $primary-text, 2px 5px 5px $primary-text, 0 0 3px $primary-text;
            margin: 10px;
            .image {
                width:100%;
                height:100%;
                img {
                    width:100%;
                    height:100%;
                }
            }
        }
    }
}