// Updated Bulma's variables
$family-sans-serif: "Nunito", sans-serif;

$widescreen-enabled: false;
$fullhd-enabled: false;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$primary: $primary-shadow;
$warning: $primary-text;

// breakpoints
$breakpoint-mobile: 570px;
$breakpoint-center: 1260px;

.App {
  text-align: center;
}

.content-parent {
  display: flex;
  flex-direction: column;
  .content-container {
    display: flex;
    flex-direction: column;
  }
}

.intro-container {
  .particle {
    background-color: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-body {
  flex-direction: column;
}

#intro {
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  font-family: "ArgonRegular";
  // font-family: 'Press Start 2P', cursive;
  text-shadow: 0 0 3px $primary-shadow, 2px 5px 5px $primary-shadow,
    2px 5px 5px $primary-shadow, 0 0 3px $primary-shadow;
  h1 {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    font-size: 96px;
    @media (max-width: $breakpoint-mobile) {
      font-size: 48px;
    }
  }
  h2 {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    font-size: 72px;
    @media (max-width: $breakpoint-mobile) {
      font-size: 36px;
    }
  }
}

.header-cont {
  @media (max-width: $breakpoint-mobile) {
    padding: 30px;
    background-image: url("../images/projects/blue-bkg.png");
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
  }
}

.stock-back {
  font-family: "Press Start 2P", cursive;
  text-shadow: 0 0 3px $primary-shadow, 2px 5px 5px $primary-shadow,
    2px 5px 5px $primary-shadow, 0 0 3px $primary-shadow;
  display: flex;
  h1 {
    font-family: "ArgonRegular";
    font-size: 72px;
  }
  h2 {
    font-family: "ArgonRegular";
    font-size: 72px;
    @media (max-width: $breakpoint-mobile) {
      font-size: 48px;
      font-weight: 900;
    }
  }
}

.contact-parent {
  display: flex;
  width: 600px;
  justify-content: space-around;
  .contact {
    display: flex;
    flex-direction: row;
  }
}

// Bulma imports
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/form/_all";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/elements/notification.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
