.App {
  text-align: center;
  height: 100%;
}

// .tsparticles-canvas-el {
//   height: 100%;
// }

// #tsparticles canvas {
//   position : absolute; 
//   width:100%;
//   height:100%; 
//   z-index:-1
// }

// #particles-js {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   position: fixed;
//   z-index: -1;
//   background-color: $primary-purple;
// }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-body {
  flex-direction: column;
}

#intro {
  // background-color: greenyellow;
}

// #intro {
//   height: 666px;
//   background-color: white;
// }

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
// $family-sans-serif: 'Nunito', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: #252839;
$warning: #F2B632;
// $link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$section-background-color: $purple;

.container {
  // background-color: green;
  // height: 666px;
}

#intro {
    background-image: url("../images/sun-spear_1920_rsz.png");
    background-color: $primary;
    background-size: cover;
}

.stock-back {
  background-image: url("../images/stock-background_1920.jpg");
  background-color: $primary;
  background-size: cover;
}


@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/form.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma/sass/elements/notification.sass';
@import '../../node_modules/bulma/sass/helpers/_all.sass';