// @font-face {
//   font-family: 'StarJediHollow-A4lL';
//   src: local('StarJediHollow-A4lL'), url(/src/fonts/star-jedi-font/StarJediHollow-A4lL.ttf) format('truetype');
// }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: $primary-purple;
  // height: 100%;
  // width: 100%;
  // background-color: $primary;
  background-image: url("../images/../images/fractal-1433818_1920.jpg");
  // background-image: url("../images/blue-planet_1920.jpg");
  // background-color: $primary;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  // height: 100%;
  // width: 100%;
}

