.navbar {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // background-color: $primary-text;
    opacity: 0.8;
    // height: 100px;

    .contact-icon {
        // text-align: center;
        padding: 10px 10px 0 0;
        height: 50px;
        width: 50px;

        margin: 5px 10px 10px 0;
    }
    

    .navbar-item {
        background-color: $primary-text;
        font-weight: 900;
        // line-height: 80px;
    }
    .navbar-item:hover {
        background-color: $primary-text;
        opacity: 0.8;
    }
    .navbar-end {
        background-color: $primary-text;
    }
    .navbar-menu {
        background-color: $primary-text;
    }


}

// $navbar-item-hover-background-color: $primary-text;