.navbar {
    opacity: 0.8;

    .contact-icon {
        padding: 10px 10px 0 0;
        height: 50px;
        width: 50px;

        margin: 5px 10px 10px 0;
    }
    
    .navbar-item {
        background-color: $primary-text;
        font-weight: 900;
    }
    .navbar-item:hover {
        background-color: $primary-text;
        opacity: 0.8;
    }
    .navbar-end {
        background-color: $primary-text;
    }
    .navbar-menu {
        background-color: $primary-text;
    }


}
