.navbar {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    background-color: #19446E;
    opacity: 0.5;
    
    .navbar-item {
        background-color: #19446E;
        color: #6E7880;
    }
    .navbar-item:hover {
        background-color: #4a4a4a;
        opacity: 0.8;
    }
    .navbar-end {
        background-color: #19446E;
    }
    .navbar-menu {
        background-color: #19446E;
    }
}

$navbar-item-hover-background-color: $purple;